<html>
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="hangman.js" defer></script>
  <link rel="stylesheet" href="hangman.css" />
</head>
<body>
  <input id = "word_input" value = "<%= length %>" />
  <input id = 'arr' name= '<%= alphabet %>' value = '<%= place %>'/>

  <div class='play' >
  </div>
  <div class='letters'>
  </div>
</body>
</html
