<html>
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="hangman.js" ></script>
  <link rel="stylesheet" href="hangman.css" >
</head>
<body>
  <div class='letters'>
  </div>
</body>
</html
