.letters{
  width: 600px;
  height: 600px;
}

.box{
  float: left;
  width: 20%;
  height: 10%;
  padding: 2pt;
  border: 1pt solid black;
  color: green;
  font-size: 16pt;
}

.play{
  height: 100px;
  overflow:auto;
  margin-bottom: 20px;
}

body{
  text-align: center;
  font-family: sans-serif;
}

.line{
  float: left;
  width: 100px;
  height: 90px;
  margin: 3px;
  border-bottom: 3px solid black;
  text-align: center;
}

.left{
  float:left;
}

.stick{
  float: right;
  width: 600px;
  height: 600px;
}

hr{
  border-color: black;
}

.clicked{
  color: gray;
}
