.play{
  height: 100px;
  overflow:auto;
  margin-bottom: 20px;
}

body{
  text-align: center;
  font-family: sans-serif;
}

.line{
  float: left;
  width: 24px;
  height: 34px;
  margin: 3px;
  border-bottom: 3px solid black;
  text-align: center;
}


.left{
  float:left;
  position:relative;
  width: 100%;
}

.stick{
  float: left;
  position:relative;
  width: 100%;
}

hr{
  border-color: black;
}

.clicked{
  color: gray;
}
