.letters{
  width: 600px;
  height: 600px;
  background-color: pink;
}

.box{
  float: left;
  width: 20%;
  height: 10%;
  padding: 2pt;
  border: 1pt solid white;
}

.play{
  height: 100px;
  overflow:auto;
}


.line{
  float: left;
  width: 100px;
  height: 90px;
  margin: 2px;
  border-bottom: 3px solid black;
  text-align: center;
}

.left{
  float:left;
}

.stick{
  float: right;
  width: 600px;
  height: 600px;
}

hr{
  border-color: black;
}
